{% extends "layout.html" %}
{% block manage_menu %}active{% endblock manage_menu %}
{% block title %}Ajouter un utilisateurs{% endblock title %}
{% block main %}
    <div class="row">
        <div class="col-6 mx-auto shadow rounded p-3">
            <form  method="post">
                {% csrf_token %} required
                <h4 class="fw-normal mb-5">
                    Ajout d'un utilisateur
                </h4>
                <div class="row mb-3">
                    <div class="row mb-3">
                        <div class="form-group col-6">
                            <span for="nom"></span>
                            <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom" required>
                        </div>
                        <div class="form-group col-6">
                            <span for="prenom"></span>
                            <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom(s)" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <span for="id_agent"></span>
                        <input type="text" name="id_agent" id="id_agent" class="form-control" placeholder="ID Agent">
                    </div>
                    <div class="form-group mb-4">
                        <span for="email"></span>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Adresse email" required>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-danger text-white">Effacer</button>
                        <button type="submit" class="btn btn-success text-white">Soumettre</button>
                    </div>
            </form>
        </div>
    </div>
{% endblock main %}